* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;
}
html{
    font-size: 68%;
    overflow-x:hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height:100vh;
    padding: 10rem 9% 2rem;
}   

/* Header Section Code */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}
.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform:scale(1.05);
}

.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}
/* Home Section Code */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 10rem 9% 2rem;
}

.home-img img {
    width:25vw;
    height:25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow:
        0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}
@keyframes floatImage {
    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    max-width:600px;
    margin-left: 0;
    max-width: 90rem;
    width: 60%;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 1.6rem;
    max-width: 90rem;
    line-height: 1.6;    
    margin:1rem 0 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 25px var(--main-color);
}

/* About Section Code */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--snd-bg-color);
}

.about-content {
    order: 1;
}

.about-img {
    order:2;
    margin-left:auto;
}

.about-img img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
}

.about-img img:hover {
    box-shadow:
        0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
    flex:1;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.7;
}

/* Services Section Code */
.services h2{
    margin-bottom: 5rem;
    text-align: center;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;   
}
.services-container .services-box {
    flex:1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}
.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box i 
{
    font-size: 4rem;
    color: var(--main-color);

}
.services-box h3 {
    font-size: 2.6rem;
}
.services-box p
{
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
}
/* Testimonials Section Code */

.testimonial{
    background: var(--snd-bg-color);
    padding: 8rem 9%;
}

.testimonial-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial .heading{
    margin-bottom: 5rem;
    font-size: 6rem;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.testimonial_item{
    min-height: 450px;
    background: var(--bg-color);
    border: .3rem solid var(--bg-color);
    border-radius: 2rem;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    transition: .4s ease;
}

.testimonial_item:hover{
    border-color: var(--main-color);
    transform: scale(1.03);
}

.testimonial_item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.testimonial_item h2{
    font-size: 3rem;
}

.testimonial_item p{
    font-size: 1.6rem;
    line-height: 1.6;
}

.rating{
    color: gold;
    font-size: 2rem;
}
/* Contact Section Code */

.contact{
    background: var(--bg-color);
}
.contact .heading{
    text-align: center;
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
/* Footer Section Code */

.footer{
    padding: 40px 0;
    background: #EAF7F5;
    text-align: center;
}

.footer .social{
    margin-bottom: 20px;
}

.footer .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 0.8rem;
    transition: 0.3s ease;
    text-decoration: none;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer p{
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
}

/* Responsive design code */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .Services {
        padding: 7rem;
    }

    .Testimonial .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 991px) {

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }

    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }

    .navbar.active {
        right: 0;
    }

    .home {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.home-content {
    order: 2;
    width: 100%;
    margin-left: 0;
}

.home-img img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2rem;
}
    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }
    .social-media {
    display: flex;
    justify-content: center;
    }
}
@media (max-width:617px){
    html{
        font-size: 50%;
    }
}
